.search {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 15px 10px 5px;
    background-image: url('../../../../../assets/images/search-solid.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
    outline: none;
    border: none;
}