.confirm-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 120px;
    border: 1px solid #333;
    text-align: center;
    padding: 20px 5px;
    background-color: rgba($color: #333, $alpha: 0.8);
    color: #fff;
    border-radius: 3px;
    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    button {
        width: 80px;
        padding: 10px 20px;
        border-radius: 3px;
        &:last-of-type {
            margin-left: 5px;
        }
    }
}
